@font-face {
    font-family: 'toyota';
    src: url(./font/ToyotaText_Rg.ttf);
}
body {
    font-family: 'toyota', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 3rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
}
.card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card .card-footer {
    display: flex;
    justify-content: center;
}

#botonCarrito {
    margin: 0px;
}

.botonSinStock {
    color: red !important;
}

.card-header {
    color:white;
    background-color: black;
}

button.active {
    border: 0.25rem solid rgb(192, 68, 68) !important;
    color: rgb(192, 68, 68) !important;
}